[Unit]
Description=Akmods Secure boot MOK Key Generation
ConditionFileNotEmpty=|!/etc/pki/akmods/certs/public_key.der
ConditionFileNotEmpty=|!/etc/pki/akmods/private/private_key.priv

[Service]
Type=oneshot
ExecStart=/usr/sbin/kmodgenca -a

[Install]
WantedBy=akmods-keygen.target
